body {
    background-color: whitesmoke;
    text-align: center;
}

.todo-complete {
    text-decoration: line-through purple;
    padding: 15px;
}

.todo-not-complete {
    text-decoration: none;
    padding: 15px;
}

button {
    margin: 15px;
    border-radius: 5px;
    border: thin solid orange;
}

button:hover {
    box-shadow: 3px 4px 6px orange;
}

h1 {
    color: orange;
}

h4 {
    color: green;
}

p {
    font-size: 18px;
}

img {
    max-width: 200px;
    max-height: 200px;
    border: thin solid black;
    border-radius: 5px;
    box-shadow: 4px 5px 10px black;
}